h1 Displaying Results
  div
    each val in placesList
      div.d-flex.flex-row
        a(href='./auth/twitter', target='_blank')
          img.img-thumbnail(src= val.pictureFile, alt='Bar')
        div.d-flex.flex-column
          h4.d-inline= val.name
          h4.d-inline= val.address
          h4.d-inline= val.going
