
#posthtml
  div.row
    each val in placesList
      div.col-md-6.col-lg-4.col-xl-4
        .card
          img.card-img-top(src= val.pictureFile, alt='Card image cap')
          .card-body
            h4.card-title
              div= val.name
            p.card-text
              div= val.formatted_address
