extends layout

block content
  h1.text-center Plans for Tonight?
  h4.text-center See who's going where and RSVP ahead of Time
  .container-fluid.flex-grow
    form.m-2
    .form-inline.justify-content-center.form-row
        div.mt-2
          input#search.mr-2(class="form-control" placeholder="Please Enter City" size="40")
        div.text-sm-right.mt-2
          button#submit.button.btn.btn-primary(type='submit') Submit
  .container-fluid.flex-grow.mt-2
    #posthtml
  footer
    .text-center Designed by Wayne Williamson (Uses Google Maps API and Node.js)
