doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='http://127.0.0.1:3000/javascripts/logged.js')

  body
    h1 LOGGED IN WOO!
    h1 #{loginName}
